* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.meme-form {
    width: 100%;
    min-height: 100vh;
    background-color: #898AA6;
    position: relative;
}

.inputlar {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.input {
    word-wrap:break-word;
    outline: 7px solid #383838;
    height: 50px;
    font-size: 17px;
    text-align: center;
    max-width: 190px;
    font-weight: bold;
    margin:15px;
}

button {
    outline: 0;
    border: 0;
    width: 100%;
    max-width: 140px;
    height: 25px;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 30px 20px;
    margin-left:20px;
    background-color: #1e90ff;
}

img {
    width: 450px;
    height: 450px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    position: absolute;
    left: -240px;
    top: -200px;
    width: 500px;
    z-index: 12;
    font-size: 25px;
    color: #fff;
    font-family: 'Antic Slab', serif;
    letter-spacing: 2px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0px 2px 0 #000,
        2px 0px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 2px 5px #000;

}
.bottom{
    margin-top: 300px;
}
.image {
    position: relative;
    top: 220px;

}